:root {
    --primary-color: rgb(192, 123, 32);
    --color-fondo: rgb(119, 240, 209);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:hover {background-color: rgb(62, 146, 202);
}
a {text-decoration: none;
    display: inline-block;
border-radius: 4rem ;
margin-left: 1rem;
background-color: aqua;}
p {font-weight: 700;}

img {border-radius: 2rem;}

header { background-color: var(--primary-color);
    height: 10vh;
margin: 0%;
position: sticky;
top: 0; }



.aligne-header {
width: 100%;
display: flex;
justify-content: space-between }

.aligne-class {display: inline;
margin: 2%;
}

main { background-color: var(--color-fondo); }
#log {width: 4rem;}

main {min-height: 80vh;
}
footer {height: 10vh;}

/* hasta acá el header, alinear logo con nav */

h1,h2 {text-align: center;
background-color: var(--color-fondo);}

#banner {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

#imag1 {width: 20vw;}

.aligne { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    object-fit: contain;
    text-align: center;

    }
.alige img { display: flex;
    width: 12rem;
}
.aligne p {width: 15rem;
}


footer { background-color: var(--primary-color);
text-align: center;
height: 5vh;}

/* style about us */

.main-conteiner { background-color: var(--color-fondo);
    display:flex;
    gap: 10vh;
    flex-direction: column;
    align-items:center;
    object-fit: cover;
    width: 100%;
}
.img-text,
.img-text2, .img-text3
{display: flex;
align-items: center;
justify-content: center;
gap: 10vh;
width: 50%;
margin-top: 2%;}

.img-text img, 
.img-text2 img, 
.img-text3 img 
{
    width: 15rem;
object-fit: cover;
}

.img-text p, .img-text2 p, .img-text3 p 
{   width: 15rem; }



/* style contact */

.main-contact img {
    
    object-fit: cover;
    width: 50vw;
    margin: 5%;
    align-content: center;

}
.main-contact p {
    text-align: center;
}
.contactstyle { 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contactstyle {font-weight: 700;}

/* ----------services style tabla------- */
table {background-color: bisque;
    width: 60%;
    
}

table,tr,th,td {border: 1px solid rgb(16, 75, 153);
border-collapse: collapse;
text-align: center;
margin: 0 auto;
}



caption {margin: 2vh;}

tr,
th,
td {width: 6rem;
    height: 3rem;}


/*----------- rating styles lista ------*/

.listone, .listtwo {

    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5vw;
    align-items: center;
    }
    
.aligne-star { 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.parraf {text-align: center;
   
}

#star1, #star2 {width: 40%;
margin-top: 10%;}

